include mixins.pug
+html('Photos by Joe Spandrusyszyn', 'Links to some photos taken by Joe Spandrusyszyn.')
  +header('Photos', '.')
  +imageList('link-list',[
    {
      url: 'https://500px.com/illandril',
      imageSrc: "${require('../images/photos/500px.jpg')}",
      label: '500px',
      isExternal: true,
    },
    {
      url: 'https://www.flickr.com/photos/illandril/sets/',
      imageSrc: "${require('../images/photos/flickr.jpg')}",
      label: 'Flickr',
      isExternal: true,
    },
    {
      url: 'https://www.jungledragon.com/user/1559/joe_spandrusyszyn.html',
      imageSrc: "${require('../images/photos/jungledragon.jpg')}",
      label: 'JungleDragon',
      isExternal: true,
    },
  ])

  +cards("two-column-cards")
    +card("prints", false /* hasMedia */)
      +cardContent
        +cardTitle Photo Prints
        +cardSubtitle
          | Most of my photos can be purchased as prints (to hang in your house and/or place of business).
          | Pricing will vary based on photo, print size, and print material (poster, framed, canvas, etc).
      +cardActions
        +cardAction( "mailto:photos@illandril.net", "Email me for details", true /* isExternal */ )

    +card("licensing", false /* hasMedia */)
      +cardContent
        +cardTitle Photo Licensing
        +cardSubtitle
          | Most of my photos are available for licensing (for use in a book, website, packaging, etc).
          | Pricing will vary based on photo, usage, and specific license terms.
          | Educational and scientific usages will usually be cheap (potentially free).
      +cardActions
        +cardAction( "mailto:photos@illandril.net", "Email me for details", true /* isExternal */ )
