include mixins.pug
+html('Software developed by Joe Spandrusyszyn')
  +header('Software', 'A collection of some of software Joe Spandrusyszyn has worked on.', '.')
  +twoLineList
    +twoLineListItem("${require('./software/webcrd.pug')}", "RSA WebCRD", "End-to-End Web-to-Print Solution")
    +twoLineListItem("${require('./software/snailspace.pug')}", "Snail's Pace", "2D Platformer/Shooter Game")
    +twoLineListItem("${require('./software/airsculpture.pug')}", "Air Scupture: Transforming Balloons into Art", "Balloon Sculpture Business Website")
    +twoLineListItem("https://github.com/illandril", "GitHub Profile", "Assorted smaller projects, including this site", true /* isExternal */)
