include ../mixins.pug
+html('Air Sculpture Website', 'Details about the Air Sculpture website.', '..')
  +header('Air Sculpture Website', '../software.html')
  +textSection
    +textSectionTitle Air Sculpture Website
    +textSectionText
      | Janice Spagnola, my mother-in-law, runs a balloon sculpture (balloon twisting, but at a much larger scale than your typical balloon dog) business called Air Sculpture.
      | I develop and help design her website.
    +button("https://www.airsculptureballoonart.com", "Air Scupture: Transforming Balloons into Art", true /* isExternal */)
