include ../mixins.pug
+html('Snail\'s Pace', 'Details about the Snail\'s Pace game.', '..')
  +header('Snail\'s Pace', '../software.html')
  +textSection
    +textSectionTitle Snail's Pace
    +imageList('screenshots',[
      {
        alt: 'Snail\'s Pace Title Screen',
        imageSrc: "${require('../../images/software/snailspace-title.jpg')}",
      },
      {
        alt: 'Snail\'s Pace Screenshot',
        imageSrc: "${require('../../images/software/snailspace-1.jpg')}",
      },
      {
        alt: 'Snail\'s Pace Screenshot',
        imageSrc: "${require('../../images/software/snailspace-2.jpg')}",
      },
    ])
    +textSectionText
      | Snail's Pace is a 2D game that combines elements of the shooter and platformer genres.
      | It was developed for the Winter 2006-2007 2D Graphics Programming course at RIT by
      | Patrick Dobson, Josh Gruenberg, John Reese, Brian Schroth, and myself (at the time, my name was Joe Andrusyszyn, instead of Joe Spandrusyszyn).
    //- Student Project Website is no longer available... +button("http://games.rit.edu/node/237", "Student Project Website", true /* isExternal */)
    +button("https://github.com/jreese/snailspace", "Source Code on GitHub", true /* isExternal */)
