* {
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
a img {
    border: none;
}
img {
    max-width: 100%;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    text-align: center;
    margin: 0;
    padding: 0;
}
x-page {
    display: none;
}
table {
    border-collapse: collapse;
}
