.z1:after,
.z2:after {
    content:'';
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.z1 {
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.z1:after {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.z2 {
    position: relative;
    z-index: 20;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.z2:after {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
