.image-grid, .grid {
    padding: 2px;
    text-align: center;
    margin: 2px -14px;
    font-size: 0;
    line-height: 0;
}
.image-grid img {
    margin: 2px;
    vertical-align: middle;
}
.tile,
.multitile {
    display: inline-block;
    width: 240px;
    height: 240px;
    vertical-align: top;
    margin: 2px;
}
.tile {
    text-align: left;
    margin: 2px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background-color: #747474;
    transition: opacity 0.25s ease-in-out;
}
.tile:hover {
    opacity: 0.9;
}
.tile.short {
    height: 118px;
}
.multitile .tile {
    margin: 0;
}
.multitile .tile + .tile {
    margin-top: 4px;
}
.tile .banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    line-height: 48px;
    font-size: 16px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5)
}
.tile .banner .secondary {
    position: absolute;
    right: 16px;
}
.tile[href^="http"]:after {
    content:"&nbsp;";
    position: absolute;
    right: 16px;
    bottom: 0;
    width: 24px;
    line-height: 48px;
    background-repeat: no-repeat;
    background-position: right 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWRJREFUSMftlbFLW1EUxn8nydQSTZqlIBUXV81Q6Fq6lq7SoXTzD+jg5OCkgji4ORW6KM1f0KndA6VjCy5p3TtIdCioPwefcHnkJe8lHfPBXe455zv3fPfcc2GOCYhZgtVNoA6YM32JiPPCBGpn7Kki/qqrwFmBSy8i3o4ifqVeOxmvM/8X6s0I+8kDZyMh7wJfgc/A8Rj5AviRVdJX3wGnZfQ8UIcV76CtDtTbogpqiX8H+FmBvAn8Blayqo5G+dWm7J4m8B1YyLb2IuID8CYvfRr0Ue2XlOUikWM7Z19Xn0+VQH2snheRzySR2gZ+Ac8SWXb/SwK1BQwS8q2I2Fbr6jd1f9YK6sCf5OSHyZtYApaLAhulBtb9aOgCGxHRyxc4YhYVJnBMEoFe1aGZSnQFPK34JG6BR8BlmYt8mbXegbqYrdaY9UT9lMWslW3FHavhn/q+8oeTteWkz+g6IobMMSvuAIArWIoumnwkAAAAAElFTkSuQmCC);
}
