.storyLine {
    text-indent: 3em;
    margin: 8px 0;
}
.notmine:before {
    content:"'Not My Copyright' notice: ";
}
.notmine {
    background-color: #ffff99;
    color: #333;
    margin: 2px 0;
    border: 1px solid #333;
    padding: 5px;
    font-size: 12px;
}
.authornote:before {
    content:"Author's Note: ";
}
.authornote {
    background-color: #ddddbb;
    color: #333;
    margin: 2px 0;
    border: 1px solid #333;
    padding: 5px;
    font-size: 12px;
}
.storyBreak {
    margin: 1em 20%;
    border-bottom: 2px dotted black;
    font-size: 0;
    line-height: 0;
}
.note {
    margin: 1em 2em;
}
.note p {
    margin: 0.5em 0;
}