.licensing {
    .title {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .details {
        max-width: 75ch;
        display: inline-block;
        text-align: left;
        line-height: 1.4em;
    }
}