include story.template.pug
+storyPage('The Return (An End to the Peace, Part 5)')
  +notMineNotice The character Xaviel Tannon was created by another UO player. The "Knights" is a reference to the "Knights of Yew" guild in Ultima Online that Xaviel and I were a part of. The "Knight's Rest" is a player created building in Ultima Online.
  +authorNote This story was never finished, and I have no plans on finishing it as-is (though I may re-write the entire An End to the Peace series though, which would finish telling the tale of Arthur and Aralyn's romance).
  +storyLine In the back of the Knight's Rest, Arthur sat at a chess table, fiddling with one of the pieces. His mind was lost in thought, and he didn't even realize that someone had entered the room until a woman's voice asked, "Is everything alright?"
  +storyLine "Huh? Oh... yeah... I'm just... thinking..." he responded, in a melancholy tone.
  +storyLine "About what, if I may ask?"
  +storyLine "Just a friend of mine."
  +storyLine "Did she play chess?"
  +storyLine "No... I don't think she's ever heard of the game... she's never been to this world."
  +storyLine The knight sat down next to Arthur before asking, "Do you miss her? Or is there another reason for your worry?"
  +storyLine "I miss her dearly... but I can't go back... not yet anyway."
  +storyLine "What do you mean?"
  +storyLine "I can't leave until I know that Xaviel will recover... and then there's the matter of being able to get back," replied Arthur.
  +storyLine "You shouldn't worry too much about Xaviel. I'm sure we'll find a cure for him sooner or later. As for the travel, why not ask for help from our arcane? I'm sure they could help work out a spell for you."
  +storyLine "I'd rather not have the Knights involved with the travel... I don't think it would be a safe thing to do. Not after what happened last time."
  +storyLine "Very well. If you'll excuse me, I should be getting back to my patrols. Good luck."
  +storyBreak
  +storyLine "I miss him, Kara..." said Aralyn.
  +storyLine "I've noticed. You shouldn't worry yourself so much. He promised to return once he could be sure of Xaviel's well being, and gave no reason for us to doubt that promise. It will only be a matter of time before he returns," replied Karana.
  +storyLine "I know... I know... but I can't help but worry that I won't see him again."
  +storyLine "I understand. I felt that same worry about Yan. Over time, I learned to deal with it, knowing that she was a special child. You should think the same for him. If he can survive as easily as he did here, no harm should come of him in his own world."
  +storyLine Aralyn nodded slightly in understanding, but was obviously still wrought with pain over Arthur's absence.
  +storyLine "Also, remember that he won't be able to remain away for too long. You know better than I how much he loved this place."
  +storyLine "Yes... but I can't help but miss him."
  +storyLine "Give him time, my sister," comforted Karana.
  +storyBreak
  +storyLine He felt disoriented as he entered the city gates, never having seen them without battle scars before. The inside was mostly the same. A few more buildings had been rebuilt since he last saw them, but there were still a handful of buildings that still lay unusable. He was glad he didn't have to live through the war that had damaged this world. The castle gates were open as he approached, with Karana and Yan'Chi just on the inside. They greeted the mage as he entered the castle grounds.
  +storyLine "Arthur! Welcome back!" exclaimed Karana.
  +storyLine "Missur Arder!" shouted Yan"Chi, as she greeted him with a hug.
  +storyLine "What a warm welcome," replied Arthur. "It is good to see your faces again."
  +storyLine "The same goes with yours. I take it Xaviel has recovered?"
  +storyLine "No, but I am certain he will. The Knights were in the process of getting a cure as I left. He will probably be back to normal in just a couple of weeks."
  +storyLine "Thaz gud... bud idz tu bad idz nut sooner."
  +storyLine "Indeed," added Karana. "I believe Aralyn is wanting to see you, by the way. I'm sure we'll have many opportunities to talk at a later time, but I think she has been anxiously awaiting your return since you first mentioned leaving."
  +storyLine "Yes. Hopefully this time I can make my stay a proper one. I will see you two around later I'm sure."
  +storyLine "I believe she is in her usual spot," said Aralyn.
  +storyLine "Buh-bye missur Arder."
  +storyLine "See ya around, ya little rascal," replied Arthur, as he messed up Yan'Chi's hair.
  +storyBreak
  +storyLine All was quiet in the central garden until a rock fell from a cliff into a small pond, disturbing Aralyn's meditation.
  +storyLine "Elaise! Watch your step! I'm trying to med..." began Aralyn, stopping abruptly as she realized her pet was asleep on the lower levels. "But... if you're down here... then what caused that rock to fall...?"
  +storyLine "Oh... I'm sorry. Did I frighten you?" said Arthur, from behind Aralyn. "Just thought I'd practice some magic."
  +storyLine Aralyn turned around slowly, as if she was afraid moving too fast might make Arthur disappear. As soon as Arthur came into her view, Aralyn jumped up and gave Arthur a running hug. "Arthur! How I've missed you!"
  +storyLine "It's great to see you again."
  +storyLine "Not a day has passed without me thinking of you. I was afraid you'd never return."
  +storyLine "I am a man of my word. Besides, nothing could have stopped me from returning."
  +storyLine "Don't leave this time."
  +storyLine "I..."
  +storyLine "Stay here... stay with me forever. I don't think I could stand seeing you go again."
  +storyLine "I cannot make that promise. Not entirely anyway. There are those expecting me to return, if only to say goodbye one last time. I can, however, vow to remain with you to your heart's content, as long as you allow me time to bid my final farewells to my friends."
  +storyLine "As long as you let me love you, I cannot deny that request."
  +storyLine Arthur held Aralyn closely and gave her a passionate kiss. After which, he said, "I have no problems with that. Besides, you could probably come with me whenever I do head back, if you wanted."
  +storyLine The two talked for a few hours after that, exchanging mostly meaningless tidbits about what they each did since Arthur had left for his old home.
  +storyLine "I'm starting to get hungry," said Aralyn.
  +storyLine "Me too. Maybe we could find Coromath and Aaril on the way and eat with them. I haven't yet had a chance to see them since my return."
  +storyLine "Sure."
  +storyBreak
  +storyLine "It's been nice to see you all again," said Arthur to Aaril, Coromath, Karana, and Yan'Chi, as he and Aralyn got up from the dinner table. "And nice to taste Gerül's cooking again as well. For now, however, I think I need some rest. I will see you all in the morning sometime." With that, Aralyn walked Arthur towards the guest hall.
  +storyLine "Your talk of leaving has made me realize I'm starting to get a little sick of this place," commented Aralyn as soon as they left the dining hall.
  +storyLine "What do you mean?" asked Arthur.
  +storyLine "I've been here my entire life... almost. The only two times I left were when we fled from the Darshin in the war, and then with you to rescue Xaviel. I've never even seen half of this continent."
  +storyLine "Then let's go somewhere. But not until the morning at least, because I'm very tired," replied Arthur."
  +storyLine "Sounds like a plan. Well... here's your room. Pleasant dreams."
  +storyLine Arthur gave Aralyn a quick kiss on the cheek and  said, "I'll see you in the morning. G'night."
  +storyBreak
  +storyLine "Again?" asked Aaril.
  +storyLine "Well... I wouldn't exactly say again. This trip is going to be a lot safer..." started Arthur.
  +storyLine "And a lot more fun," finished Aralyn. "We'll just be wandering the countryside for a while instead of searching through the swamps or traveling across realms."
  +storyLine "I wish I had the time to just wander. There's too much for me to do though... but at least I can still have fun here. I wish you both well on your trip," said Karana.
  +storyLine "Do you want us to watch Elaise for you while you're gone?" asked Coromath.
  +storyLine "No. I think she's been getting restless as well, so I'm going to let her out into the forest when we leave. I don't think she'll cause any trouble out there, and she will be able to fend for herself."
  +storyLine "Very well. Safe travels to you both," said Coromath.
  +storyLine "You're going to stay put this time, right Yan?" asked Arthur.
  +storyLine "If yooz promise to come back afterwardz before tu lung."
  +storyLine "Of course. We're not planning on leaving forever or anything like that, just a little vacation."
  +storyLine "Then ya ya. I'z stay homez thiz timez."
  +storyLine "Good."
  +storyBreak
  +storyLine "We made it pretty far for one day..."
  +storyLine "Yeah... I was expecting to still smell the swamps tonight."
  +storyLine "Should we head for the coast, or towards the mountains tomorrow?"
  +storyLine "Let's go to the shore. I've always wanted to swim in the eastern ocean."
  +storyLine "Sounds like a plan," replied Arthur as he lay down beside Aralyn.
  +storyLine "G'night," said Aralyn before giving Arthur a goodnight kiss.
  +storyLine "G'night," replied Arthur, though neither was quite ready to sleep.
  +storyLine Before long, Aralyn broke the silence. "It's beautiful, isn't it?"
  +storyLine "Almost as beautiful as you," replied Arthur as he pulled Aralyn close with a hug. "The moonrise has always entranced me."
  +storyLine "Yeah... especially over the ocean..."
  +storyBreak
  +storyLine "Morning sleepy head," said Aralyn, as Arthur opened his eyes.
  +storyLine "Morning sunshine."
  +storyLine "Let's have just a quick breakfast. I wanna swim."
  +storyLine Arthur chuckled slightly in response, "Alright."
  +storyLine The pair ate a few pieces of fruit before Aralyn got up and began to strip.
  +storyLine "You're going to swim in the nude?"
  +storyLine "Sure, why not? It's only us here, and I trust you to be a gentleman."
  +storyLine "True," replied Arthur before following her lead.
  +storyLine "The two swam for nearly the whole day, stopping only to eat lunch, and when they decided to call it a night.
  +storyLine "That was fun."
  +storyLine "Yeah... it was..." replied Arthur as he cuddled up next to Aralyn.
  +storyLine "G'night."
  +storyBreak
  +storyLine "Just one day of swimming was enough for you?"
  +storyLine "For now," replied Aralyn, with a smirk.
  +storyLine "Alrighty then. Mountains it is."
  +storyLine The two spent a rather uneventful, but still rather enjoyable, day traveling to the mountains. They arrived at a cliff side at dusk.
  +storyLine "Let's go up a little and find a nice flat spot to lie down for the night."
  +storyLine "I think I see a nice spot over there." About halfway to the area she had spotted, Aralyn caught glimpse of another point of interest in the distance. "Ooo! Look at that cave. Let's check it out in the morning."
  +storyLine "Good idea."
  +storyBreak
  +storyLine "It's dark in here. I can hardly see anymore."
  +storyLine "Well what did you expect?"
  +storyLine "I dunno..." replied Aralyn before creating a ball of fire that she let hover above her hand. "There... much better."
  +storyLine "Indeed. Looks like we have a choice to make. Up, down, or left?"
  +storyLine "Let's go... up. It looks more interesting.
  +storyLine "Yes it does, actually," said Arthur, even though he thought all of the paths looked basically the same.
  +storyLine They followed the upward path through the caves, going up for almost half a mile.
  +storyLine "Look over there! There's some light coming through that tunnel!"
  +storyLine "That's odd... we shouldn't be close enough to the edge for any other entrances."
  +storyLine Aralyn rushed ahead into the light, distinguishing her fireball as she ran. "Oh my..." she gasped as she entered an enormous room. As Arthur entered, she asked him, "What is it?"
  +storyLine "It looks like... like a temple... except... it looks... organic."
  +storyLine "Is it living?" asked Aralyn as she approached the steps to the temple.
  +storyLine "It looks like it grew like this..." The two cautiously walked up the steps and onto the top of the temple.
  +storyLine Arthur looked up at the light shining in from the roof of the cavern. "I doubt we're at the top of the entire mountain... but we're definitely under a peak at least..."
  +storyLine "Look! There's a hole in the top of the temple... no... wait... there are half a dozen of them. All across the center. Oh! And one more in the back. Next to the cave's wall behind the temple.
  +storyLine "Let's look for an entrance."
  +storyLine "I think I might've seen one next to the stairs as we were walking up."
  +storyLine Arthur looked over the edge to where the steps met the wall of the temple. "Yep. There's a door over here."
  +storyLine They rushed down and entered the temple. "It's like a cathedral! The ceiling has got to be two stories up, and there are benches all angled towards that alter over there."
  +storyLine Arthur looked around in awe, but stopped as he realized something was amiss. "You counted seven holes in the roof, right?"
  +storyLine "Yeah... I think so."
  +storyLine "I only see six from the inside."
  +storyLine "Odd."
  +storyLine "You said the last one was in the back, right?"
  +storyLine "Yeah... about... about where the altar is."
  +storyLine "That's it. The walls are angled in on the back. There must be something behind the altar."
  +storyLine "Yeah. The wall is just loose vines right here," replied Aralyn as she reached the altar.
  +storyLine Arthur followed Aralyn into the hidden room. The glow from the roof shone down on a stone glyph in the center of the room. As Arthur saw the carving, his jaw gaped open in shock and his left hand slid over his right shoulder.
  +storyLine "What is it?" asked Aralyn with a worried expression.
  +storyLine Without speaking, Arthur lifted his sleeve to reveal a marking on his shoulder exactly like that of the glyph. Four S's, each with the bottom arch centered on the same point, but rotated 90 degrees from each other.
  +storyLine Aralyn's worry turned to shock and confusion. "It... it's get... getting dark in here. Le... let's go back outside for the rest of the day..." stuttered Aralyn.
  +storyBreak
  +storyLine "But you're not even from this world!"
  +storyLine "I'm not... no... but I think my birth father might have been... now that I know this," responded Arthur.
  +storyLine "What did you know about your birth parents?"
  +storyLine "Not much. My mom was an elf, my dad died before I was born, and their name I still bear, Illandril (Ill-ann-drill)"
  +storyLine "You didn't take your adoptive parent's last name?"
  +storyLine "At first I did... then I didn't even use a last name at all, then I used my birth name. The mark, too. I was told when I was young that it was called the ‘Sign of the Illandril'. Doesn't sound any better in your language than it does in mine. Never sounded right to me... but that's what I was told, and that's what was in the note from my birth mother as well."
  +storyLine "'Illuen du Illandril' (ill-oo-en do ill-un-drill) perhaps?"
  +storyLine "That certainly has a better ring to it... but..."
  +storyLine Before he could finish, Aralyn interrupted, "I knew I heard the name before... I just didn't recognize it before since it's been so long since I've heard the legend, and you pronounced it differently than I'd heard it before. Your family name is part of a Sincaali legend."
  +storyLine "If you know the legend, shouldn't you have recognized the mark?"
  +storyLine "I've never seen it before, except on you. Nobody has... or at least not in a very long time. All the stories are considered to be myths...and most probably are. But if any of them are true, then that would make you an ancestor of a god, though not a very nice one, and a family of Sincaali nobles."
  +storyLine After a pause, Arthur asked, "So we're the first people in a long time to see that temple too, huh?"
  +storyLine "Probably."
  +storyLine "I think I just have to give this some time to sink in. I don't really know what to make of it yet."
  +storyLine "Yeah... it's kind of overwhelming, huh?"
  +storyLine "Yeah..."
  +storyBreak
  +storyLine "Never thought I'd ever learn about my family, let alone all this. I still only know a little, but at least now I have a path to learn it by. But I don't want to cut our vacation short because of that. I'd much rather live my life than relive my ancestor's."
  +storyLine Aralyn smiled in response, "I'm pretty sure a lot of the tales are stored in the castle any time you want to learn. But I agree, I'd much rather play than learn right now."
  +storyLine "So, where to next?"
  +storyLine "Umm... closest area of interest that we haven't been to yet is the forest up north."
  +storyLine "Sounds fun," smiled Arthur.
  +storyBreak
  +storyLine Aralyn yelled up into the trees, "Get down from there!"
  +storyLine "Aww..." moaned Arthur, before he swung down next to Aralyn. "Not letting me have any fun..." he jokingly complained.
  +storyLine "You can have as much fun as you want, as long as I don't have to be watching out for you knocking branches on my head."
  +storyLine Arthur put his arm around Aralyn's shoulder as he said, "you're just jealous."
  +storyLine "So?" smiled Aralyn.
