include story.template.pug
+storyPage('A Knight Lost at Home')
  +notMineNotice The cities of Yew and Moonglow, and Lord Blackthorn are from Ultima Online. The characters Xaviel Tannon and Tomair were created other UO players. The "Knights" is a reference to the "Knights of Yew" guild in Ultima Online that Xaviel and I were a part of. The "Knight's Rest" is a player created building in Ultima Online.
  +storyLine It seems I've spent too much time standing up top of this tower. Why I stand, I cannot tell... I cannot stand the site of the swamp that has overtaken Yew, yet I still look towards her. When I look at her, I can't help but feel as though my oath... my oath to protect a city I once loved... my oath is now like a vow to protect a void and an adjacent field of the damned... The Abbey is all that holds any purity in this dying place... and even her grounds have been defiled with blood. The rest of Yew... the homes of the farmers... the pens for the sheep... the shops... everything save the outskirts is flooded and overgrown.
  +storyLine I need to go... I need to get away from this... this swamp... at least for a while. But where? Where can I go? What is left for me outside this glade? The old Yew is overrun by the faction wars, and my home outside 'Glow is in ruins... Nowhere else would I feel at ease... no where else would I be anything better then a stranger in quite lands...
  +storyLine No... there is one... there is one place I could go. I will visit the graves. I've not been to the old Moonglow for two years now... I owe my parents a visit...
  +storyBreak
  +storyNote
    p I will be unable to attend this eve's meeting, as per usual, but there is one thing that I would like to say. Tomorrow morning I am going to be heading to the old land's Moonglow for a week or so. If I am needed, Arthur can give the locations of where I should be, or you can just search the forested areas of 'Glow.
    p Safe travels
    p - Gildar
  +storyBreak
  +storyLine "I'm going Home, Arthur."
  +storyLine "What? What do you mean?"
  +storyLine "Our old home, back in Moonglow. I feel I owe a visit to my parent's graves."
  +storyLine "If I manage to figure the rest of this spell out... I may not be here when you return."
  +storyLine "I know. I put the blackmoor you needed in your reagent stash, if ye haven't found it already."
  +storyLine "Thanks..."
  +storyLine "Why don't you ask some of the magi within the Knights for help? I know you miss her a lot. I'm sure it would do you good to get back there faster."
  +storyLine "I don't want to bother them with my affairs... Besides... I'd rather keep this trip away from the Knights."
  +storyLine "If you insist... Is there anything else I might be able to do for you, should you not be done by the time I return?"
  +storyLine "No... I don't... wait... Yes there is. Tomair's lab. If that still stands, I could make use of his journals."
  +storyLine "Alright. I will make sure to look for them before I return."
  +storyLine "When are you leaving?"
  +storyLine "Right after we finish talking."
  +storyLine "Have ye told the rest of the Knights already?"
  +storyLine "Basically, aye."
  +storyLine "I will not keep you longer. Be safe, and take care of this hut if I'm not here when you return."
  +storyLine "I will..." Gildar turned and started to leave, but then turned back around and added, "And by the way... make sure someone knows what is making Xav mutter about Blackthorn for, if it is important, and if you know."
  +storyLine "Right..."
  +storyLine "Stay safe."
