include story.template.pug
+storyPage('Untitled Conversation')
  +authorNote I have no idea when or why I wrote this, or what I was thinking at the time.
  +storyLine "The trees here are massive, nothing like they are back home."
  +storyLine "Really. And they seem so much different too. More like many thin trees tangled together than just one."
  +storyLine "The leaves are different too, kind of funny looking."
  +storyLine "The trees aren't that important though, huh? Lets get moving."
  +storyLine "Right, right. Where are we going anyway?"
  +storyLine "This way."
  +storyLine "Gee... thanks."
  +storyLine "Don't worry, nothing dangerous. The path is just like it is here the whole way."
  +storyLine "What excitement. Dead leaves, weird trees, and random sticks to trip on... *grumbles*"
  +storyLine "Would you prefer taking the swamp route?"
  +storyLine "No, I suppose not. This place could be a bit more interes... hey! what's that?"
  +storyLine "What's what?"
  +storyLine "That shiny thing in the brush over there."
  +storyLine "I don't know... *walks over and picks up the key* Looks like someone's old chest key. Probably been here for months it's so rusted."
  +storyLine "I don't see anything on it that would make it shine... why was it reflecting light?"
  +storyLine "*moves his hand from the center of the shaft to the end* Band in the center's made of rubies."
  +storyLine "That's odd."
  +storyLine "Yeah. Oh well."
  +storyLine "*stumbles on something* Ack. *looks down* Ah man. I dropped my traveler's cup thing and stepped on it..."
  +storyLine "I told you it's better to bring a mug with a handle than that flimsy thing. A mug you can tie down. That thing is too smooth, and could fall easily, and no handle to tie down. Pick up the pieces and let's get moving."
  +storyLine "*picks up pieces and continues walking* Hey. Is that where we're going over there?"
  +storyLine "That dump? Nah."
  +storyLine "Dump? That place is gorgeous. Has to be made of the finest marble around!"
  +storyLine "If a leaf fell on that place it would crumble to dust I tell you."
  +storyLine "No way. Finest craftsmanship I've ever seen in a mansion of that sty... y... y..."
  +storyLine "What's wrong? Cat got your ton... never mind. The bear does."
  +storyLine "Ih... ih..."
  +storyLine "You wuss. *walks up to the bear and pats it on the head*"
  +storyLine "Wha... how... why..."
  +storyLine "Never seen a bear harm a soul in this forest, probably never will."
  +storyLine "I have you."
  +storyLine "I know. *grins*"
  +storyLine *both jump as a loud crashing sound fills the area*
  +storyLine "See! I told you it was a dump."
  +storyLine "I guess you were right. Nothing even touched the place as far as I can tell."
  +storyLine "Haha! The place is burning. Fine marble my ass!"
  +storyLine "Marble... doesn't... ignite..."
  +storyLine "I'll give 'em credit for the paint job, but that thing was never going to last."
  +storyLine "How can someone make wood look that much like marble?"
  +storyLine "Got me. Think we should do something about those flames?"
  +storyLine "I think nature's got that covered. *points to rain clouds just before it starts pouring*"
  +storyLine "Saves that trouble... but I still hate rain."
  +storyLine "So where are we going?"
  +storyLine "I told you already. This way *turns and continues down the path*"
  +storyLine "*walk walk walk* What's that noise... *turns head, turns back and friend is gone* Hey! Where'd you go?"
