{% extends '../partial-template.html' %}

{% block title %}{% block storyTitle %}{% endblock %} by Joe Spandrusyszyn{% endblock %}
{% block backTitle %}{% block storyTitle %}{% endblock %}{% endblock %}
{% block description %}{% block storyTitle %}{% endblock %} by Joe Spandrusyszyn{% endblock %}
{% block backURL %}/stories.html{% endblock %}

{% block content %}
    {% block header %}{% endblock %}
    <article class="story text">
        {% block story %}{% endblock %}
    </article>
    <div class="social-btns"></div>
{% endblock %}
