$mdc-theme-primary: #000000;
$mdc-theme-secondary: #511e12;
$max-content-width: 900px;

@import "reset.scss";

%max-width-content {
  display: block;
  max-width: $max-content-width;
  margin: 0 auto;
}

// Unmodified material.io styles
@import "@material/grid-list/mdc-grid-list";

// Customized material.io styles
@import "button.scss";
@import "card.scss";
@import "image-list.scss";
@import "list.scss";
@import "top-app-bar.scss";
@import "text.scss";

// Specialty styles
@import "stories.scss";
