@import "@material/image-list/mdc-image-list";

@mixin three-column-image-list($width, $height: $width) {
  @include mdc-image-list-aspect($width / $height);
  .mdc-image-list__item {
    width: $width;
    height: $height;
    margin: $mdc-image-list-standard-gutter-size / 2;
  }
  width: ($width + $mdc-image-list-standard-gutter-size) * 3;
  @media (max-width: ($width + $mdc-image-list-standard-gutter-size) * 3 + $mdc-image-list-standard-gutter-size * 2) {
    width: ($width + $mdc-image-list-standard-gutter-size) * 2;
  }
  @media (max-width: ($width + $mdc-image-list-standard-gutter-size) * 2 + $mdc-image-list-standard-gutter-size * 2) {
    width: ($width + $mdc-image-list-standard-gutter-size);
  }
}
.mdc-image-list {
  @extend %max-width-content;
}

.mdc-image-list__item {
  overflow: hidden;
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;
}

.mdc-image-list.screenshots {
  @include three-column-image-list(288px, 216px);
}

.mdc-image-list.link-list {
  @include three-column-image-list(240px);
}
