section.text.story {
  .header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @include mdc-theme-prop(border-bottom-color, text-hint-on-background);
  }

  .notmine {
    &::before {
      content: 'Copyright notice: ';
    }
    background-color: #ff9;
    color: #333;
    padding: 0.5em 1em;
    margin: 4px 0;
    border: 1px solid #333;
  }

  .authornote {
    &::before {
      content: "Author's note: ";
    }
    background-color: #ddb;
    color: #333;
    padding: 0.5em 1em;
    margin: 4px 0;
    border: 1px solid #333;
  }

  .storybreak {
    margin: 1em 10%;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    @include mdc-theme-prop(border-bottom-color, text-hint-on-background);
  }

  .storynote + .storynote {
    margin-top: 1em;
  }

  .storynote {
    background-color: #fffff0;
    margin: 0 10%;
    padding: 1px 1em;
    // padding-left: 2em;
    // margin-left: 2em;
    border-width: 1px;
    border-style: solid;
    border-color: #ccccc0;
    // @include mdc-theme-prop(border-color, text-hint-on-background);
    p {
      text-indent: 0;
    }
  }

  p {
    text-indent: 3em;
  }
}
