{% extends '../partial-template.html' %}

{% block title %}{{ project.name }}{% endblock %}
{% block backTitle %}{{ project.name }}{% endblock %}
{% block description %}{{ project.name }} Information{% endblock %}
{% block backURL %}/software.html{% endblock %}

{% block content %}
{% block screenshots %}{% endblock %}
<div class="text">{% block projectDescription %}{% endblock %}</div>
<div class="list">
    {% for link in project.links %}
        <a class="item" target="_blank" data-trk="projectLink" data-id="{{ link.url }}" href="{{link.url}}">
            <span class="content">
                <span class="primary">{{ link.name }}</span>
                <span class="secondary">{{ link.details }}</span>
            </span>
        </a>
    {% endfor %}
</div>
{% endblock %}
