include ../mixins.pug
+html('404 - Page Not Found', 'Page not found', '..')
  +header('404 - Page Not Found')
  +textSection
    +textSectionTitle 404 - Page Not Found
    +textSectionText
      | Sorry, the page your looking for doesn't exist.
    +button("/", "Go  Back Home")
